RewriteEngine On
RewriteBase /

# --- redirect fra www til non-www ---
RewriteCond %{HTTP_HOST} ^www\.dj\.helledie\.dk$ [NC]
RewriteRule ^(.*)$ https://dj.helledie.dk/$1 [L,R=301]

# --- React SPA fallback ---
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /index.html [L]